<div class="navbar bg-base-100 shadow-sm">
    <div class="flex-1">
      <a class="btn btn-ghost text-xl">Corso Angular con daisyUI</a>
    </div>
    <div class="flex-none">
      <ul class="menu menu-horizontal px-1">
        <li routerLink="homepage" routerLinkActive="btn-active"><a>Homepage</a></li>
        <li routerLink="landing-test" routerLinkActive="btn-active"><a>Landing Test component</a></li>
        <li routerLink="example" routerLinkActive="btn-active"><a>Esempi</a></li>
        <li routerLink="product" routerLinkActive="btn-active"><a>Products</a></li>
        <li routerLink="uikit" routerLinkActive="btn-active"><a>UI KIT</a></li>
      </ul>
    </div>
  </div>
