<div
  role="alert"
  class="alert"
  [ngClass]="{
  'alert-info': variant === 'info',
  'alert-success': variant === 'success',
  'alert-error': variant === 'error',
}"
>
    <app-variant-icon [variant]="variant" />

  <div><ng-content></ng-content></div>

  <div>
    <button class="btn btn-sm btn-default" (click)="onCancel.emit()">
      {{ denyLabel }}
    </button>
    <button
      class="btn btn-sm"
      [ngClass]="{
        'btn-info': variant === 'info',
        'btn-success': variant === 'success',
        'btn-error': variant === 'error',
        'btn-default': !variant,
        }"
      (click)="onConfirm.emit()"
    >
      {{ acceptLabel }}
    </button>
  </div>
</div>
