<main class="main">
  <div class="centered-page sm flex flex-col gap-3">
    <img [src]="imgLogoConfig.src" [alt]="imgLogoConfig.alt" [width]="imgLogoConfig.width">

    <h1 class="page-title ">{{title}}</h1>

    <div class="m-3">
      <div 
        class="alert"
        [ngClass]="{
          'alert-primary': alert.type === 'primary',
          'alert-danger': alert.type === 'danger',
          'alert-success': alert.type === 'success'
        }"
      >
          {{ alert.msg }} - {{alert.type}}
      </div>
      
      <div class="flex gap-3">
        <button
          class="btn"
          (click)="alert = {msg: 'hello 1', type: 'primary'}">primary</button>
        <button
          class="btn"
          (click)="alert = {msg: 'hello 2', type: 'danger'}">danger</button>
        <button
          class="btn"
          (click)="alert = {msg: 'hello 3', type: 'success'}">success</button>
      </div>
    </div>

    <div class="m-3">

      <button 
      class="btn" 
      (mousemove)="show($event)"
      (mouseout)="hide()"
    >OVER</button>
    
    <div>{{position?.x}} - {{position?.y}}</div>
      
    <div
      class="absolute bg-black text-white p-3 rounded-xl pointer-events-none"
      [style.left.px]="position?.x"
      [style.top.px]="position?.y"
      [hidden]="!position"
    >
        TOOLTIP
    </div>


    </div>

    <hr>

    <div class="centered-page sm">
      <button
        *ngFor="let item of menuItems"
        class="btn" (click)="section = item.section">{{item.label}}</button>
      
      <hr>
      
      <div [ngSwitch]="section">
          <div *ngSwitchCase="'home'">Home</div>
          <div *ngSwitchCase="'step1'">Step 1</div>
          <div *ngSwitchCase="'step2'">Step 2</div>
          <div *ngSwitchCase="'final'">Final</div>   
          <div *ngSwitchDefault>Select a button</div>
      </div>
      
      
  </div>




    





  </div>
</main>

<router-outlet />
