<main class="main">
  <div class="centered-page sm flex flex-col gap-3">
    <img [src]="imgLogoConfig.src" [alt]="imgLogoConfig.alt" [width]="imgLogoConfig.width">

    <h1 class="page-title ">{{title}}</h1>

    <div class="m-3">
      <div 
        class="alert"
        [ngClass]="{
          'alert-primary': alert.type === 'primary',
          'alert-danger': alert.type === 'danger',
          'alert-success': alert.type === 'success'
        }"
      >
          {{ alert.msg }} - {{alert.type}}
      </div>
      
      <div class="flex gap-3">
        <button
          class="btn"
          (click)="alert = {msg: 'hello 1', type: 'primary'}">primary</button>
        <button
          class="btn"
          (click)="alert = {msg: 'hello 2', type: 'danger'}">danger</button>
        <button
          class="btn"
          (click)="alert = {msg: 'hello 3', type: 'success'}">success</button>
      </div>
    </div>
    





  </div>
</main>

<router-outlet />
