<p>{{ title | uppercase }}</p>

<hr>

<h1 class="my-3">HttpClient Demo</h1>
      
<!-- <pre>{{ users | json }}</pre> -->

@for (user of users; track user.id) {
    <li>{{user.name}}</li>
}

<hr>

<h1>Http Signals</h1>

@for (user of usersSignal(); track user.id) {
    <li>{{user.name}}</li>
}


<hr>

<h1>Http toSignals</h1>

@for (name of names(); track $index) {
    <li>{{name}}</li>
}

<hr>

<h1>RESOURCE API</h1>
<h2>Actual user {{userId()}}</h2>
<div class="flex gap-3">
    <button class="btn" (click)="prevUser()">Prev User</button>
    <button class="btn" (click)="nextUser()">Next User</button>
    

</div>


@if(userResource.isLoading()) {
    <div>loading...</div>
  }
  <h1>{{ userResource.value()?.name }}</h1>
  <pre>{{ userResource.value() | json }}</pre>

  <hr>

  <h1>{{ userResourceName.value()}}</h1>


  <button class="btn" (click)="refresh()">Refresh last data</button>

