<main class="main">
    <a routerLink="">Torna alla Home Page</a>
  
    <div class="centered-page sm flex flex-col gap-3">
      <img
        [src]="imgLogoConfig.src"
        [alt]="imgLogoConfig.alt"
        [width]="imgLogoConfig.width"
      />
  
      <h1 class="page-title">{{ title }}</h1>
  
      <div class="m-3">
        <div
          class="alert"
          [ngClass]="{
            'alert-primary': alert.type === 'primary',
            'alert-danger': alert.type === 'danger',
            'alert-success': alert.type === 'success'
          }"
        >
          {{ alert.msg }} - {{ alert.type }}
        </div>
  
        <div class="flex gap-3">
          <button
            class="btn"
            (click)="alert = { msg: 'hello 1', type: 'primary' }"
          >
            primary
          </button>
          <button
            class="btn"
            (click)="alert = { msg: 'hello 2', type: 'danger' }"
          >
            danger
          </button>
          <button
            class="btn"
            (click)="alert = { msg: 'hello 3', type: 'success' }"
          >
            success
          </button>
        </div>
      </div>
  
      <div class="m-3">
        <button class="btn" (mousemove)="show($event)" (mouseout)="hide()">
          OVER
        </button>
  
        <div>{{ position?.x }} - {{ position?.y }}</div>
  
        <div
          class="absolute bg-black text-white p-3 rounded-xl pointer-events-none"
          [style.left.px]="position?.x"
          [style.top.px]="position?.y"
          [hidden]="!position"
        >
          TOOLTIP
        </div>
      </div>
  
      <hr />
  
      <div class="centered-page sm">
        <button
          *ngFor="let item of menuItems"
          class="btn"
          (click)="section = item.section"
        >
          {{ item.label }}
        </button>
  
        <hr />
  
        <div [ngSwitch]="section">
          <div *ngSwitchCase="'home'">Home</div>
          <div *ngSwitchCase="'step1'">Step 1</div>
          <div *ngSwitchCase="'step2'">Step 2</div>
          <div *ngSwitchCase="'final'">Final</div>
          <div *ngSwitchDefault>Select a button</div>
        </div>
      </div>
  
      <hr />
  
      <div class="centered-page flex flex-col gap-4 items-center">
        <input
          type="text"
          (keydown.enter)="addTodo(input)"
          #input
          class="input input-bordered"
          placeholder="Add new todo"
        />
        <div
          *ngFor="let todo of todos"
          [ngClass]="{
            'line-through': todo.completed
          }"
        >
          <input
            type="checkbox"
            class="checkbox"
            [checked]="todo.completed"
            (change)="toggleTodo(todo.id)"
          />
          {{ todo.title }}
  
          <button class="btn" (click)="removeTodo(todo.id)">remove</button>
        </div>
  
        <button class="btn" (click)="saveAll()">Save</button>
      </div>
  
      <hr />
  
      <div class="centered-page sm">
        <h1 class="page-title">Counter Demo with Signal</h1>
  
        <button class="btn" (click)="dec()">-</button>
        <span class="text-2xl" [style.color]="isZeroColor()">
          {{ counter() }}
        </span>
        <button class="btn" (click)="inc()">+</button>
  
        <button class="btn" (click)="reset()" [style.display]="hideIfZero()">
          reset
        </button>
  
        <div [hidden]="!isZero()">Counter is zero!</div>
      </div>
  
      <div class="centered-page sm">
        @if(logged()) {
        <h1 class="page-title">Hi Dev</h1>
        <button class="btn" (click)="logout()">Logout</button>
        } @else {
        <h1 class="page-title">Login</h1>
        <button class="btn" (click)="signIn()">Sign In</button>
        }
      </div>
  
      <div class="centered-page sm">
        @switch (currentStep()) { @case ('step1') {
        <h1>Step 1</h1>
        <button class="btn" (click)="currentStep.set('step2')">Next</button>
        } @case ('step2') {
        <h1>Step 2</h1>
        <button class="btn" (click)="currentStep.set('final')">Next</button>
        } @case ('final') {
        <h1>Final Step</h1>
        } @default {
        <div>Welcome</div>
        <button class="btn" (click)="currentStep.set('step1')">Next</button>
        } }
  
        <hr />
  
        <div class="centered-page sm">
          @for (item of products(); track item.id) {
          <li>{{ item.name }}</li>
          } @empty {
          <button (click)="loadProducts()">Load</button>
          }
          <div *ngIf="!noItems()">There are {{ totalProducts() }} products</div>
  
          <hr />
  
          <div class="centered-page sm">
            @for (product of products(); track product.id) {
            <li>
              {{ $index + 1 }}. {{ product.name }}
              @if($last) {
              <hr />
              }
            </li>
            } @empty {
            <button class="btn" (click)="loadProducts()">Load</button>
            }
  
            <div *ngIf="!noItems()">There are {{ totalProducts() }} products</div>
          </div>
        </div>
      </div>
  
      <hr>
  
      <div class="centered-page sm">
        @for (product of productsTest();track product.id) {
          <button (click)="selectProduct(product)" class="btn">
            {{ product.name }}
          </button>
        }
  
        @if(activeProduct()) {
            <h1 class="text-2xl">Product Details</h1>
            <div>€ {{ activeProduct()?.cost }}</div>
            <div>{{ activeProduct()?.description }}</div>    
        } @else {
            <div>Select a product</div>
        }
  
  
      </div>
  
      <hr>
  
      <div class="centered-page sm flex flex-col gap-3">
        <h1 class="page-title">Todo List with for and signals</h1>
        
        <div>
            {{totalCompleted()}} completed | {{ totalTodos() }} todos
        </div>
        <input 
          type="text"
          class="input input-bordered"
          #inputRef
          (keydown.enter)="_addTodo(inputRef)"
          placeholder="add todo"
        >
        
        <ul>
            @for (todo of todosList(); track todo.id) {
                <li class="flex justify-between">
                    <div class="flex gap-3">
                      <input 
                        type="checkbox" [checked]="todo.completed"
                        (change)="_toggleTodo(todo)"
                      >
                      <span [ngClass]="{'line-through': todo.completed}">
                          {{todo.title}}
                      </span>
                    </div>
                    <button (click)="_removeTodo(todo)">❌</button>
                </li>
            }
        </ul>
        
        <pre>{{todosList() | json}}</pre>
    </div>

    <hr>

    <app-phone
    [alt]="alt"
    [src]="url"
    [showTitle]="showTitle"
    >
      
    </app-phone>

    <hr>

    <app-timeline
    [items]="timeLineList"
    >
    </app-timeline>
    <hr>

    <app-timeline
    [items]="timeLineList"
    isVertical
    >
    </app-timeline>



  
  
    </div>

  </main>
